// colors
$link-color: #FF0000;
$btn-primary-color: #FF0000;
$body-background-color: #212121;
$sidebar-color: #050000;
$body-text-color: #fff;
$search-background-color: #fff;
$code-background-color: #141414;
$body-heading-color: #fff;
$search-result-preview-color: #fff;
$table-background-color: #141414;
