// colors
$link-color: #fff;
$btn-primary-color: ;
$body-background-color: ;
$sidebar-color: ;
$body-text-color: ;
$search-background-color: ;
$code-background-color: ;
$body-heading-color: ;
$search-result-preview-color: ;
$table-background-color: ;
